/* 
.container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 200px 200px 200px;
}

.header {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: grey;
}

.menu-1 {
    background-color: grey;
    grid-column-start: 1;
    grid-column-end: 3;
}

.menu-2 {
    background-color: grey;
    grid-column-start: 1;
    grid-column-end: 3;

}

.content {
    background-color: grey;
    grid-row-start: 2;
    grid-column-end: 4;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: grey;

} */